<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
<body>
    <h1>Update Book</h1></br>
    <h1>
        <a href="/">Insert Book</a>
        <a href="/getbooks"> All Books</a>
        <a href="/updatebook">Update Book</a>
        <a href="/deletebook">Delete Book</a>
    </h1>
    <form action="/updateuserdata" method="POST">
        ISBN <input type="text"  name="isbn" /> </br>
        User New Name <input type="text"  name="unamenew" /> </br>
        User New Age <input type="number"  name="uagenew" /> </br>
        User New Address <input type="text" name="uaddressnew" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>